@use "../../styles/utils/variables" as var;
@use "../../styles/utils/placeholders" as *;
@use "../../styles/utils/mixins" as mx;

.list {
  display: flex;
  gap: 8px;

  flex-wrap: wrap;
}

.item {
  padding: 8px 20px;

  background-color: var.$light-color;
  border-radius: 100px;

  font-weight: 600;

  @include mx.mq($bp: "tab") {
    padding: 12px 28px;
  }
}

.accent {
  color: var.$accent-dark-color;
}

.portfolio {
  background-color: var.$light-secondary-color;
}
