@use "../../styles/utils/variables" as var;
@use "../../styles/utils/placeholders" as *;
@use "../../styles/utils/mixins" as mx;

.link {
  padding: 12px 24px;

  background-color: var.$accent-color;
  border-radius: 10px;

  font-weight: 600;

  transition: background-color 0.3s ease;

  &:active {
    background-color: var.$accent-dark-color;
  }

  @media (hover: hover) {
    &:hover,
    &:focus {
      background-color: var.$accent-dark-color;
    }
  }
}
