@use "../../styles/utils/variables" as var;
@use "../../styles/utils/placeholders" as *;
@use "../../styles/utils/mixins" as mx;

.item {
  padding: 18px;

  background-color: var.$light-color;
  border-radius: 15px;

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.itemWrapper {
  display: flex;
  gap: 24px;
  @include mx.mq($bp: "tab") {
    padding: 24px;
  }

  @include mx.mq($bp: "desk", $type: max) {
    flex-direction: column;
    gap: 16px;
  }
}

.imageWrapper {
  @include mx.flex-center;

  padding: 4px;

  border-radius: 20px;
  border: solid 1px var.$accent-color;
  flex-shrink: 0;

  @include mx.mq($bp: "tab") {
    padding: 10px;
  }
}

.image {
  width: 280px;
  height: auto;
  border-radius: 12px;

  @include mx.mq($bp: "tab") {
    width: 500px;
  }
}

.title {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 600;
}

.description {
  margin-top: 12px;
}

.linksWrapper {
  display: flex;
  gap: 24px;
  font-weight: 500;

  @include mx.mq($bp: "desk", $type: max) {
    flex-direction: column;
    gap: 10px;
    align-items: start;

    margin-top: 14px;
  }
}

.link {
  @include mx.flex-center;
  gap: 4px;

  text-decoration: underline;
  cursor: pointer;

  transition: color 0.3s ease;

  transition: color 0.3s ease;

  &:active,
  &:focus {
    color: var.$accent-color;
  }

  &:active > .icon,
  &:focus > .icon {
    fill: var.$accent-color;
  }

  @media (hover: hover) {
    &:hover {
      color: var.$accent-color;
    }
  }
  &:hover > .icon {
    fill: var.$accent-color;
  }
}

.icon {
  width: 24px;
  height: 24px;

  transition: fill 0.3s ease;
}

.unorderedList {
  list-style: circle;
}

.unorderedList li {
  margin: 10px 0;
  margin-left: 30px;

  text-transform: none;
}

.unorderedList li::marker {
  color: var.$accent-dark-color;
  font-weight: bold;
}
