@use "../../styles/utils/variables" as var;
@use "../../styles/utils/placeholders" as *;
@use "../../styles/utils/mixins" as mx;

.item {
  display: flex;
  gap: 24px;

  padding: 18px;

  background-color: var.$light-color;
  border-radius: 15px;

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  @include mx.mq($bp: "tab") {
    padding: 24px;
  }

  @include mx.mq($bp: "desk", $type: max) {
    flex-direction: column;
    gap: 16px;
  }
}

.imageWrapper {
  @include mx.flex-center;

  padding: 4px;

  border-radius: 20px;
  border: solid 1px var.$accent-color;
  flex-shrink: 0;

  @include mx.mq($bp: "tab") {
    padding: 10px;
  }
}

.image {
  width: 280px;
  height: auto;
  border-radius: 12px;

  @include mx.mq($bp: "tab") {
    width: 500px;
  }
}

.title {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 600;
}

.description {
  margin-top: 12px;
}
