@use "../../styles/utils/variables" as var;
@use "../../styles/utils/placeholders" as *;
@use "../../styles/utils/mixins" as mx;

.pageWrapper {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 24px;
  align-items: center;

  text-align: left;
}

.imageWrapper {
  max-width: 550px;

  padding: 24px;
  border: solid 1px var.$accent-color;

  border-radius: 20%;
}

.image {
  width: 500px;
  height: auto;

  border-radius: 30%;
}

.subtitle {
  font-size: 34px;
  font-weight: 600;
  text-transform: uppercase;
}

.title {
  font-size: 48px;
  font-weight: 700;

  text-transform: uppercase;
}

.accent {
  color: var.$accent-color;
}
