@use "../utils/variables" as var;
@use "../utils/placeholders" as *;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

body {
  @extend %main-text;

  font-family: "Montserrat", sans-serif;

  font-style: normal;

  background-color: var.$light-secondary-color;
}

button {
  cursor: pointer;
}
